{%  extends 'core/base.html' %}

{% block header %} Informática JMC | Docentes {% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Profesor</td>
            <td>Email</td>
            <td>Oficina</td>
        </tr>
        <tr>
            <td>Profesor 1</td>
            <td>profe1@usm.cl</td>
            <td>J100</td>
        </tr>
        <tr>
            <td>Profesor 2</td>
            <td>profe2@usm.cl</td>
            <td>J200</td>
        </tr>
    </table>
{% endblock %}