*{
    margin:0;
    padding:0;
}

/* .footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
} */

.table-fit {
    width: auto !important;
    table-layout: auto !important;
  }