*{
    margin: 0;
    padding: 0;
}

#miCapa{
    background-color: aqua;
    width: 100vw;
    height: 50vh;
    padding-top: 5vh;
    padding-left: 5vw;
    box-sizing: border-box;
}

#menu{
    width: 100vw;
    height: 10vh;
    background-color: blue;
}

#uno, #dos, #tres, #cuatro{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vh;
    text-align: center;
    padding-top: 40px;
    float:left;
}


#uno{
    background-color: aquamarine;
}

#dos{
    background-color: yellow;
}

#tres{
    background-color: greenyellow;
    clear: both;
}

#cuatro{
    background-color: orange;
}