*{
    margin:0;
    padding:0;
}

#unDiv{
    width: 50vw;
    height: 40vw;
    background-color: blueviolet;
}

#uno, #dos, #tres, #cuatro{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding-top: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    float:left;
}

#uno{
    width: 200px;
    height: 200px;
    background-color: #17C3B2;
}

#dos{
    background-color: #FFCB77;
}

#tres{
    background-color: #FE6D73;
    clear: both;
}

#cuatro{
    background-color: #227C9D;
    clear: both;
}